.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

}

.modal__form {
  min-width: 300px;
  border: 1px solid lightgrey;
  border-radius: 4px;

  box-shadow: 0 0 5px 0 grey;

  background-color: #ffffff;

  padding: 30px;
}

.modal__title {
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.modal__row {
  display: block;
  margin-bottom: 20px;
}

.modal__prop {
  display: block;
  font-weight: bold;

  margin-bottom: 5px;
}

.modal__value {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 4px;

  padding: 7px;
  outline: none;
}

.modal__value:focus {
  border-color: dimgray;
}

.modal__value-radio {
  margin-right: 15px;
}

.modal__control {
  text-align: center;
}

.modal__btn {
  width: 75px;
  margin: 0 15px;
}

.modal__content {
  line-height: 140%;
  margin-bottom: 20px;
}
